@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: linear-gradient(45deg, #1E000E, #7F0799);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
    border-radius: 5px;
}

#newtask {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input {
    width: 70%;
    height: 45px;
    font-size: 15px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border: 2px solid #ffffff;
    transition: all 0.5s ease;
    border-radius: 5px;
}

#newtask input:focus {
    outline: none;
    border-color: #7F0799;
}

#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background: #1E000E;
    color: #ffffff;
    cursor: pointer;
    border: #1E000E;
}

#tasks {
    background: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
}

.task {
    background: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d4d5;
    cursor: pointer;
}

.task span {
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background: #1E000E;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.completed {
    text-decoration: line-through;
}